<!-- Наследование -->
{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}


{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Eget mauris pharetra et ultrices neque ornare aenean euismod. Purus semper eget duis at tellus
            at urna condimentum mattis. Lorem donec massa sapien faucibus et molestie. Bibendum est ultricies integer
            quis.
            Rhoncus mattis rhoncus urna neque. Mauris augue neque gravida in fermentum et sollicitudin. Id consectetur
            purus ut faucibus. Orci sagittis eu volutpat odio facilisis. Suspendisse sed nisi lacus sed viverra tellus
            in.
            Amet justo donec enim diam vulputate.
        </p>
    </div>
{% endblock %}